/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.css
 *= require welcome.css
 *= require_self
 */

@font-face {
  font-family: 'Stencil';
  src: url('/fonts/Emtype Foundry - GeogrotesqueStencil C Md Regular.otf');
}

* {
	color: #000;
	font-family: 'Open Sans', sans-serif;	
}

a {
	color: #000;
}

a:hover {
	color: #FFF12D;
	text-decoration: none;
}

/* general logo */

.logo {
	background-color: #FFF12D;	
	color: #000;
}

.logo h1 {
	font-family: 'Stencil', sans-serif;	
	text-transform: uppercase;
	font-weight: normal;
	font-size: 35px;
	margin: 0px;
	line-height: 30px;
}

.logo h2 {
	font-family: 'Open Sans', sans-serif;	
	text-transform: lowercase;
	font-weight: normal;
	font-size: 9px;
	margin: 0px;
}

/* navbar */

.navbar .container {
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
	background-color: #000;
}

.navbar-default {
	transition: none;
}

.nav > li > a {
	padding: 10px 14px;
}

.navbar-default.navbar-fixed-top, .navbar-default.navbar-shrink {
	padding: 10px 0;
	background-color: #000;
}

.navbar-default .navbar-brand {
	display: none;
}

.navbar-shrink .navbar-brand, 
.navbar-shrink .navbar-brand:hover, 
.navbar-shrink .navbar-brand:focus {
	position: absolute;
	top: 20px;
	right: -30px;
	transform: rotate(-15deg);
	padding: 10px 80px 10px 10px;
	display: block;
	height: auto;
	text-transform: uppercase;
	font-family: 'Stencil', sans-serif;	
	border-radius: 10px;
	width: 220px;
	background-color: #FFF12D;	
	color: #000;
}

.navbar-default .nav li a {
	font-family: 'Open Sans', sans-serif;
	text-transform: none;
	color: #fff;
}

.navbar-default .nav li a:focus {
	color: #fff;	
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .nav li a:hover {
	color: #FFF12D;
	background-color: transparent !important;
}

.language-selection {
	padding-top: 10px;
	color: #aaa;
}	

.navbar-nav {
	padding-right: 10px;
}

.set-locale {
  cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	color: #aaa;
}

.active-locale {
  color: #FFF12D;	
  cursor: default;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover {
	background-color: #FFF12D;	
	border-color: #FFF12D;
	z-index: 10;
}

/* header */

header {
	height: 100vh;
	background-image: url(/images/header-bg.jpg);
	background-size: cover;
}

header .logo-left {
	border-radius: 15px;
	float: left;
	position: relative;
	top: 120px;
	left: -60px;
	padding: 20px 20px 20px 100px;
	width: 300px;
	transform: rotate(-15deg);
}

header .logo-left h1 {
	font-size: 50px;
	line-height: 40px;
	float: right;
	text-align: right;
}

header .logo-left h2 {
	font-size: 12px;
	float: right;
	text-align: right;
}

header .intro-text {
	margin-top: 150px;
	padding: 20px;
	background-color: #fff;
	color: #000;
	float: right;
	text-align: left;
	width: 400px;
}

header .intro-text .intro-lead {
	font-family: 'Stencil', sans-serif;		
	font-style: normal;
	font-size: 6em;
	text-transform: uppercase;
	line-height: 1em;
}

header .intro-text .intro-sublead {
	font-family: 'Open Sans', sans-serif;			
	font-style: normal;
	font-size: 1em;
}

/* box */

section#what {
	background-image: url(/images/sections/box.jpg);
	background-size: cover;
	height: 100vh;
	text-transform: uppercase;
	font-size: 25px;
	position: relative;
}

.what-contents {
	background-color: #fff;
	padding: 10px;
	padding-left: 0px;
	width: 410px;
	height: 130px;
}
.what-contents .num { 	font-family: 'Stencil', sans-serif;	
margin-right: 10px; font-size: 110px; float: right; line-height: 110px;}
.what-contents .item { font-family: 'Stencil', sans-serif;	font-size: 50px; float: right; width: 190px; line-height: 110px; vertical-align: middle;}

.what-cards {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-top: 80px;
}

.what-randomize-button {
	font-family: 'Stencil', sans-serif;	
	cursor: pointer;
	background-color: #fff;
	padding: 20px;
	margin: 20px;	
	float: left;
	text-align: center;
}
.what-randomize-button:active {
	position: relative;
  top: 2px;
  left: 2px;
}
.what-missions {
	font-family: 'Stencil', sans-serif;	
	background-color: #fff;
	padding: 20px;
	margin: 20px;	
	float: right;
	text-align: center;
	position: relative;
	top: 30px;	
	z-index: 1 !important;
}

.what-society-card, .what-architecture-card {
	border-radius: 25px;
	padding: 30px 20px;
	margin: 10px;	
	width: 30%;
	float: left;
	text-align: center;
	font-size: 50px;
	height: 33%;
	line-height: 50px;
	position: absolute;	
	z-index: 10;
}

.what-society-card {
	background-color: #FFF12D;	
	color: #000;
	border: 5px solid #000;
	top: 45%;
	left: 18%;
	transform: rotate(7deg);
	
}
.what-architecture-card {
	background-color: #000;
	border: 5px solid #FFF12D;
	top: 40%;
	right: 22%;
	transform: rotate(-7deg);
	
}
.what-architecture-card .card-content {
	color: #fff;
}
.card-content {
	font-family: 'Stencil', sans-serif;	
	position: absolute;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
		

/* action */

section#action {
	background-image: url(/images/sections/action.jpg);
	background-size: cover;
	height: 100vh;
}

.action-bg {
	width: 100%;
	background-color: #fff;
	padding: 20px 30px;
}

.action-bg h1 {
	font-family: 'Stencil', sans-serif;	
	font-size: 50px;
	text-transform: uppercase;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	margin-bottom: 20px;
	text-align: center;
	font-weight: normal;
}

section.portfolio .portfolio-item {
	margin: 10px;
}

.action-bg h4 {
	font-family: 'Stencil', sans-serif;	
	font-weight: normal;
}

section.portfolio .portfolio-item .portfolio-caption {
	padding: 10px;
}

section.portfolio .portfolio-item .portfolio-link .portfolio-hover {
	background-color: #FFF12D;
	border-radius: 25px;
}

.img-responsive {
	border-radius: 25px;
}

.slick-track {
	margin-left: auto;
	margin-right: auto;
}

.slick-prev:before, .slick-next:before { 
    color:#FFF12D !important;
}

/* modal */

.portfolio-modal .modal-content {
	padding-top: 50px;
}

.modal-body h2 {
	font-family: 'Stencil', sans-serif;	
	font-size: 50px;
	text-transform: uppercase;
	font-weight: normal;
}

.btn-primary, .btn-primary:hover {
	background-color: #FFF12D;
	border-color: #FFF12D;
	color: #000;
	font-weight: normal;
	font-family: 'Stencil', sans-serif;
}

.portfolio-modal .close-modal {
	z-index: 100;
}

/* events & training */

.events-training-bg {
	background-image: url(/images/sections/events.jpg);
	background-size: cover;
	height: 100vh;
}

.events-training-bg section {
	background-color: #fff;
	overflow: auto;
	width: 70%;
	position: relative;
	min-height: 30vh;
	padding: 0px;
}

.events-training-bg section h1 {
  font-family: 'Stencil';	
	position: absolute;
	width: 50%;
	padding: 20px;
	margin: 0px;
	font-size: 40px;
	font-weight: normal;
}

.events-training-bg section .logos {
	position: absolute;
	width: 50%;	
	padding: 10px;
}

.events-training-bg section .logos img {
	width: 75px;
	float: left;
	margin: 10px;
}

.events-training-bg section .content {
	width: 50%;
	padding: 20px;
	font-family: "Open Sans", sans-serif;
}

/* events */

section#events {
	float: left;
	top: 50px;
}

section#events h1, section#events .logos {
	right: 0px;
}

section#events .logos {
	bottom: 0px;
	right: 0px;
}

/* training */ 

section#training {
	float: right;
	top: 150px;
}

section#training h1 {
	left: 0px;
}

section#training .logos {
	left: 0px;
	bottom: 0px;
}

section#training .logos img {
	float: right;
}
	
section#training .content {
	float: right;
}


/* contact */

section#contact {
	background-image: url(/images/sections/contact.jpg);
	background-size: cover;
	height: 100vh;
	padding: 0px;
}

section#contact .right, section#contact .left {
	width: 70%;
	background-color: #fff;
}

section#contact .right {
	margin-top: 150px;
	float: right;
}

section#contact .right .credits p, section#contact .right .content p {
	line-height: 1.5;
}

section#contact .right .credits {
	width: 40%;
	float: left;
	text-align: right;
	padding: 20px;
}

section#contact .right .credits h1 {
	font-family: 'Stencil', sans-serif;	
	text-transform: uppercase;
	font-weight: normal;
	font-size: 50px;
	margin: 0px;
	line-height: 1;
}

section#contact .right .credits h2 {
	font-family: 'Open Sans', sans-serif;	
	text-transform: lowercase;
	font-weight: normal;
	font-size: 20px;
	margin: 0px;
	margin-bottom: 20px;
}

section#contact .right .content {
	width: 60%;
	float: right;
	padding: 20px;
}

section#contact .left {
	float: left;
	margin-top: 30px;
}

section#contact .left h1 {
	width: 40%;
	float: right;
	font-family: 'Stencil', sans-serif;	
	text-transform: uppercase;
	font-weight: normal;
	font-size: 40px;
	margin: 0px;
	padding: 20px;
	line-height: 1;
}

section#contact .left .content {
	width: 60%;
	float: left;
	padding: 20px;
}


/* helpful snippets */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}


/* mobile view */

@media (min-width:769px) {
	@media (max-width:941px) {
		.nav > li > a, .language-selection {
			padding-left: 7px;
			padding-right: 7px;
			font-size: 12px;
		}
		.language-selection {
			padding-top: 12px;
		}
	}
}

@media (max-width:768px) {
	
	.navbar .container, .navbar-default.navbar-fixed-top, .navbar-default.navbar-shrink {
		background-color: transparent;
	}
	
	.navbar-default .navbar-collapse {
		background-color: #000;
		padding-bottom: 20px;
		padding-top: 10px;
		position: relative;
		top: -70px;
		z-index: 0;
	}
	
	.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus,
	.navbar-shrink .navbar-brand, .navbar-shrink .navbar-brand:hover, .navbar-shrink .navbar-brand:focus  {
		position: absolute;
		top: -20px;
		right: -32px;
		transform: rotate(-2deg);
		padding: 20px 70px 5px 5px;	
		width: 240px;	
		display: block;
		height: auto;
		text-transform: uppercase;
		font-family: 'Stencil', sans-serif;	
		border-radius: 10px;
		background-color: #FFF12D;	
		color: #000;		
		z-index: 1;
	}
	
	header .logo-left {
		display: none;
	}
	
	header .intro-text {
		position: absolute;
		bottom: 0%;
		right: 0;
		width: 80%;
	}
	
	header .intro-text .intro-lead {
		font-size: 10vw;
	}
	
	section#what {
		padding-top: 60px;
	}
	
	.what-contents {
		height: 90px;
		width: 300px;
		margin: 0;
	}
	
	.what-contents .num {
		font-size: 70px;
		line-height: 70px;
	}
	
	.what-contents .item {
		font-size: 25px;
		line-height: 70px;
		width: 100px;
	}
	
	.what-cards {
		padding-top: 0px;
	}

	.what-randomize-button {
		float: none;
		top: auto;
		width: 350px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10;
	}

	.what-society-card, .what-architecture-card {
		width: 280px;
		height: 170px;
		left: 0;
		right: 0;
		top: 0;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		float: none;
	}
	
	.what-society-card {
		transform: rotate(2deg);
	}

	.what-architecture-card {
		transform: rotate(-2deg);
	}
	
	.what-missions {
		display: none;
	}
	
	section#action {
		background-position-x: -400px;
	}
	
	.events-training-bg {
		height: auto;
	}

	section#events, section#training {
		top: 0px;
	}
	
	section#training {
		margin-top: 60px;
	}
	
	section#events, section#training, section#contact .left, section#contact .right {
		width: 100%;
	}
	
	section#events .content {
		padding-right: 0px;
	}
	
	section#training .content {
		padding-left: 0px;
	}
		
	section#training h1, section#events h1, section#contact .left h1, section#contact .right .credits h1 {
		font-size: 6vw;
		padding-bottom: 10px;
	}
	
	section#contact {
		height: auto;
	}
	
	section#contact .right, section#contact .left {
		margin-top: 60px;
	}
	
	section#contact .right .credits h2 {
		font-size: 14px;
	}
	
	section#contact .right .credits, section#contact .left .content {
		float: right;
	}

	section#contact .right .content {
		padding-right: 0px;
	}
	
	section#contact .left .content {
		padding-left: 0px;
	}

	section#contact .right .content, section#contact .left h1 {
		float: left;
	}

	
	
	
	
	
}